body
{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#user
{
  outline: none;
}
#user:focus
{
  text-align: center;
  border: 2px solid lavender;
}
.board
{
  width: 50vw;
  height: 50vw;
}
