body
{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#user
{
  outline: none;
}
#user:focus
{
  text-align: center;
  border: 2px solid lavender;
}
.board
{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vw;
}
.row
{
  display: flex;
}
.column, .board, .colored
{
  border: 0.5px solid;
}
